@media (max-width: 1550px)
    .profile-info-form .profile-info-form__item input
        width: 270px
    .profile__content-guts
        grid-template-columns: 650px auto
    .car-details-form__input input
        width: 170px
    .car-details__wrapper
        max-width: 585px
    .type-selector li
        width: 185px
    .popular-repairs__grid-item .popular-repairs__title
        font-size: 12px
    .popular-repairs__grid-item .popular-repairs__details .popular-repairs__price
        font-size: 12px
    .popular-repairs__grid
        grid-template-columns: repeat(5, 1fr)
    .ordering-details__fields .ordering-details__field input
        width: 240px
    .choose-service-date__field input
        width: 275px
    .ordering-content__guts
        grid-template-columns: 550px 1fr
    .technical-center__fields
        grid-template-columns: repeat(2,1fr)
        max-width: 450px
    .ordering-content__guts
        grid-gap: 40px
    .client-order__guts-item__images-car img
        width: 160px
        height: auto
    .client-order__guts-item__images-logo img
        width: 103px
        height: auto
    .registration-content__item.ordering-item::before
        right: -4%
    .wrapper-inner
        padding-bottom: 100px
    .server-book__content-guts
        grid-template-columns: 600px 1fr
        grid-gap: 50px
    .detail-records
        width: 90%
    .server-book__content-guts .item-server-book:first-child::before
        right: -4%
    .body-repair__order-form
        grid-template-columns: 648px 1fr
        grid-gap: 45px
    .body-repair__order-form .body-order__item.left-side-item::before
        right: -25px
    .warnty__saver-wrapper_guts
        padding-left: 30px
    
@media (max-width: 1440px)
    .innner-aside
       padding-left: 33px
    .main-blog
        padding-right: 33px
    .responsible-politeness
        background-size: 285px
    .responsive-tab__wrapper
        width: 540px
        overflow: auto
    .responsive-tab__content
        width: 700px
        overflow: hidden
    .server-book__content-guts
        grid-template-columns: 500px 1fr
        grid-gap: 25px
    .calcultor-form__wrapper .to-calcultor-form
        grid-gap: 32px
        grid-template-columns: 1fr 1fr
    .calcultor-form__wrapper .to-calcultor-form .calcultor-form__item::before
        right: -10px
    .inner-mileage-slider
        max-width: 430px
    .grid-table-row
        grid-template-columns: 314px 1fr 1fr 1fr
    .grid-table-row.category
        grid-template-columns: 290px 1fr 1fr 1fr
    .label-item__wrapper
        max-width: 240px
    .detailing-repair__tabs
        flex-wrap: wrap
    .general-and-separate
        margin-bottom: 6px
    .stepper-content__item-wrapper
        overflow: hidden
    .stepper-content__item-title
        white-space: nowrap
    .stepper-content__item-subtitle
        white-space: nowrap
    .client-order__guts
        max-width: 528px
    .profile__content-guts
        grid-template-columns: 550px auto
    .profile-info-form .profile-info-form__item input
        width: 200px
    .profile-info-form .profile-info-form__item input
        font-size: 12px
        &:placeholder
            font-size: 12px
    .review-owl-slider .owl-nav .owl-prev
        left: -85px
    .review-owl-slider .owl-nav .owl-next
        right: -85px
    .certified-auto-service__content-text
        background-position-y: 143px
        background-position-x: 89px   

@media (max-width: 1366px)
    .server-book__content-guts .item-server-book:first-child::before
        right: -2%

@media (max-width: 1360px)
    
    .inner-mileage-slider
        max-width: 430px
    .grid-table-row.category
        grid-template-columns: 270px 1fr 1fr 1fr
    .grid-table-row
        grid-template-columns: 299px 1fr 1fr 1fr
    .type-selector li a
        font-size: 14px
    .popular-repairs__grid
        grid-template-columns: repeat(4, 1fr)
    .client-order__guts
        max-width: 528px
    .locksmith-repair__form-wrapper .locksmith-repair__form
        grid-template-columns: 580px 1fr
    
@media (max-width: 1300px)
    .review-owl-slider .owl-nav .owl-prev
        left: -60px
    .review-owl-slider .owl-nav .owl-next
        right: -60px
    .adds-banners__guts .banner-grid
        grid-template-columns: repeat(2, 1fr)
    .model-catalog__content-guts
        background-color: #fff
    .model-catalog__content-grid
        grid-template-columns: repeat(4,1fr)
    .type-selector li
        width: 189px
    .model-photo__wrapp::before
        width: 186px
        height: 186px
    .model-photo__wrapp
        width: 245px
        height: auto
    .profile__content-guts
        grid-template-columns: 470px auto

    /*** Total Invoice ***/

    .client-order__guts
        position: relative
        padding-top: 80px
        padding-right: 20px
        padding-bottom: 25px
        margin-top: 50px
    .client-order__guts-item__images-logo
        display: none
    .client-order__guts-item__images-car
        position: absolute
        top: -55px
        left: 50%
        transform: translate(-50%)
    .client-order__guts
        grid-template-columns: 1fr
        max-width: 360px

    /*** Total invoice END ***/

    /*** Calculator TO ***/
    .total-value
        padding-right: 27px
    .calcultor-form__wrapper 
        .to-calcultor-form
            grid-template-columns: 1fr 1fr
            grid-gap: 54px
    .calcultor-form__item-header
        max-width: 500px
    .inner-mileage-slider li .mileage-value
        font-size: 12px
    .inner-mileage-slider li .price-value
        font-size: 12px
    .price-compare-tolex-img
        display: none
    .price-compare__guts li h4
        font-size: 11px
    .price-compare__guts li .price-compare-average span
        font-size: 12px
    .price-compare__guts li .price-compare-official span 
        font-size: 12px
    .price-compare__guts li .price-compare-tolex span
        font-size: 12px   
    .order-section-imgs_car img
        width: 196px
        height: 147px 
    .order-section-imgs_logo
        img
            width: 126px
            height: 37px
    .order-section
        grid-template-columns: 250px 1fr  
        padding-left: 15px
        padding-top: 15px
    .order-section .order-section__content-header .dilers-varanty-save
        font-size: 12px
    .order-section .order-details h3
        font-size: 19px
    .order-section .order-details h5
        font-size: 12px
    .first-time__label
        font-size: 12px
    .billing-btns a
        font-size: 10px
        width: 130px
        height: 33px
        line-height: 33px 
        svg
            width: 15px
    .billing-btns button
        width: 112px
        height: 33px
        line-height: 29px
        font-size: 11px
        svg
            width: 16px   
    .inner-mileage-slider
        max-width: 430px
    .stepper-content__item-title
        font-size: 12px
    .stepper-content__item-subtitle
        font-size: 12px
    .price-compare__guts
        grid-template-columns: 1fr 1fr 120px
    .calcultor-form__wrapper::before
        left: 48%
    .calcultor-form__item-header h2
        font-size: 19px
    .grid-table-row.category
        grid-template-columns: 270px 1fr 1fr 1fr
    .grid-table-row
        grid-template-columns: 299px 1fr 1fr 1fr
    .label-item__wrapper
        max-width: 222px
    .grid-table-cell.service-cathegory label
        font-size: 12px
    .grid-table-cell.service label
        font-size: 12px
    .certified-auto-service__content-text
        padding-left: 40px
    
@media (max-width: 1280px)        
    .calcultor-form__wrapper .to-calcultor-form
        grid-gap: 32px
        grid-template-columns: 1fr 1fr   

    .car-details-form__input input
        font-size: 12px
        &::placeholder
            font-size: 12px

    .car-details-form__input input
        width: 150px

    .car-details__wrapper
        width: 525px
        
    .rating h3
        margin-bottom: 10px  

@media (max-width: 1200px)
    .certified-auto-service__content-info_list
        padding-left: 70px
    .staff
        grid-template-columns: repeat(2,1fr)
        grid-gap: 25px
    .record-table__new-version-wrapper
        width: 1200px
        overflow: auto
        height: 1000px  
    .record-table__new-version
        width: 1250px
        grid-template-columns: minmax(100px, 0.3fr) minmax(150px, 310px) minmax(150px, 310px) minmax(150px, 310px)

    .item-profile-info::before
        width: 0

    .item-profile-details 
        margin-top: 15px

    .profile__content-guts
        grid-template-columns: 1fr

    .registration-content__guts
        grid-template-columns: 1fr
    .register-phone input
        width: 360px

    /*** Total Invoice ***/

    .client-order__guts
        position: relative
        padding-top: 28px

    .client-order__guts-item__images-logo
        display: block

    .client-order__guts-item__images-car img
        width: 210px

    .client-order__guts-item__images-car
        position: relative
        top: unset
        left: unset
        transform: unset

    .client-order__guts
        grid-template-columns: 1fr 1fr
        max-width: 650px

    /*** Total invoice END ***/

    .model-catalog__content-grid
        grid-template-columns: repeat(3,1fr)
    .stepper-content__item-title
        font-size: 13px
    .type-selector
        grid-template-columns: repeat(2,1fr)

    .stepper-content__item-subtitle
        font-size: 11px
    .inner-mileage-slider
        max-width: 380px
    .order-section-imgs_car img
        width: 144px
        height: 109px
    .calcultor-form__wrapper .to-calcultor-form
        grid-gap: 25px
    .calcultor-form__item-header
        max-width: 475px
    .calcultor-form__item
        overflow: hidden
    .tab-content
        width: 625px
    .detailing-repair__tabs
        width: 625px

    .stepper-content__item-title
        font-size: 13px
        white-space: nowrap
    .stepper-content__item-subtitle
        white-space: nowrap

    .inner-mileage-slider
         max-width: 380px

    .service-book
        display: none!important
    .popular-repairs__grid
        grid-template-columns: repeat(3, 1fr)

    .popular-body__repaire-content_item
        width: 165px
        a
            font-size: 12px
    .ordering-content__guts
        grid-template-columns: 1fr
    .ordering-details__fields
        max-width: 95%
    .technical-center__fields
        grid-template-columns: repeat(3, 1fr)
        max-width: 95%
    .waiting-comfort__info
        width: 500px
        padding-left: 50px
        padding-right: 50px
    .map-item ul li:first-child
        font-size: 12px
    .map-item
        padding-right: 40px
@media (max-width: 1150px)
    .staff
        grid-template-columns: 1fr
        grid-gap: 25px
    .server-book__content-guts .item-server-book h2
        width: 65%
        font-size: 17px
    .main-description__wrapper h1
        font-size: 40px
    .licenses-content-item_grid img
        margin-bottom: 20px
    .map-builder_content .map-builder_content-item .section-titles
        padding-right: 40px
    .licenses-certificates
        padding-bottom: 30px
        padding-top: 30px

    .map-item
        padding-right: 40px
    .responsible-politeness
        background-image: unset
    .footer-contact__phone-list li a
        font-size: 12px
    .footer-contact__phone-list li
        margin-right: 10px
    .responsible-politeness__content
        justify-content: space-around
    .header-send__application-text
        font-size: 18px

@media (max-width: 1050px)
    .footer-links
        margin-top: 44px
    
@media (max-width: 1024px)
    .locksmith-repair__form-wrapper .locksmith-repair__form
        grid-template-columns: 1fr
    .body-repair__order-form
        grid-template-columns: 1fr
    .responsive-tab__wrapper
        width: 100%
    body
        background-image: none
    .staff
        grid-template-columns: 1fr 1fr 1fr
    .server-book__content-guts
        grid-template-columns: 1fr
    .server-book__content-guts .item-server-book__guts
        max-width: 100%
    .tab-content
        width: 100%
    .detailing-repair__tabs
        width: 100%
    .stepper-content
        padding-left: 0!important
        padding-right: 0!important
    .header-wrapper
        padding-left: 20px!important
    .service-book
        display: none!important
    .service-book__mobile
        display: inline-block!important
        margin-right: 15px
    .model-catalog__content-grid li
        margin-bottom: 0!important
    .stepper
        margin-right: 0!important
        padding-left: 0
        padding-right: 15px
    .popular-repairs__grid
        grid-template-columns: repeat(3,1fr)
        
    .calcultor-form__wrapper .to-calcultor-form
        grid-template-columns: 1fr
    .inner-mileage-slider
        max-width: 685px
    .calcultor-form__wrapper::before
        width: 0
    .price-compare-tolex-img
        display: block
    .price-compare__guts
        grid-template-columns: 1fr 1fr 1fr
    .order-section-imgs_car img
        width: 247px
        height: 185px
    .calcultor-form__item-header
        max-width: 98%
    .price-compare
        max-width: 100%
    .order-section
        max-width: 100%
        margin-bottom: 45px
    .stepper-content__item-title
        font-size: 11px
    .stepper-content__item
        padding-left: 22px
    .calcultor-form__wrapper
        margin-top: 38px
    .inner-mileage-slider .owl-nav .owl-next
        right: -17px
    .inner-mileage-slider .owl-nav .owl-prev
        left: -17px
    .order-section-imgs_logo img
        width: 164px
        height: 48px
    .grid-table-row.category
        grid-template-columns: 365px 1fr 1fr 1fr
    .grid-table-row
        grid-template-columns: 396px 1fr 1fr 1fr
    .label-item__wrapper
        max-width: 296px
    .type-selector li
        width: 217px
    .order-section
        padding-top: 33px
        padding-left: 34px

    .popular-body__repaire-content_item
        width: 175px
    .popular-body__repaire-content_item span
        font-size: 12px
    .main-description__wrapper h1
        font-size: 38px  

@media (max-width: 992px)
    .innner-aside .section-titles
        font-size: 18px
    .special__offers-section-inner .special__offers-section-inner_content
        grid-template-columns: 1fr 300px 
    .blog-grid-second
        grid-template-columns: 1fr
    .review-tabs
        display: grid
        grid-gap: 17px
        grid-template-columns: repeat(4, 1fr)
    .review-tabs
        flex-wrap: wrap
    .review-tabs 
        .review-tab-item
            &:nth-child(5)
                //padding-top: 17px
            &:nth-child(4)
                //padding-top: 17px
                &::after
                    width: 0
    .about-order__form-wrapper
        width: 100%
    .general-director__grid-item_content h2
        width: 100%
    .general-director__grid-item_content
        padding-right: 15px
        padding-left: 15px
        padding-top: 15px
    .general-director__grid
        grid-template-columns: 1fr
        .general-director__grid-item
            &:nth-child(1)
                height: 490px
    .general-director__video-play
        bottom: -40px
        width: 80px
        height: 80px
        top: unset
        right: unset
        left: 50% 
        transform: translate(-50%)           
    .popular-services__grid
        grid-template-columns: 1fr
    .popular-services__item
        background-position: right
        background-repeat: no-repeat
    .header-send__application-content .header-send__application-content_item:first-child
        flex-basis: 100%
    .record-table__new-version-wrapper
        width: 100%
        overflow: auto
    .record-table__new-version
        width: 1000px
        grid-template-columns: minmax(100px, 0.3fr) minmax(150px, 1fr) minmax(150px, 1fr) minmax(150px, 1fr)

    .popular-repairs__grid
        grid-template-columns: repeat(3, 1fr) 
    .aside
        display: none

    .wrapper-inner
        display: block

    .sidebar-for-mobile
        display: block

    body
        background-image: none

    .mobile-rem-chooser
        display: grid
        grid-template-columns: repeat(4,1fr)

    .body-repaire__header .body-repaire__header-list li
        font-size: 12px

    .popular-body__repaire-content
        margin-left: -25px

    .main-description__wrapper h1
        font-size: 29px
    .special__offers-section-content_grid
        grid-template-columns: repeat(2,1fr)
    .certified-auto-service__content-info_imgs img
        width: 100%

    .certified-auto-service__content-text
        flex-basis: 100%
        padding-top: 0
        padding-bottom: 70px
        padding-left: 15px
        padding-right: 15px
    .certified-auto-service__content-info
        flex-basis: 100%
    .calculator-links__content
        grid-template-columns: 1fr
        grid-gap: 25px
    .map-item
        padding-left: 0
        ul
            padding-left: 45px
    .map-builder_content .map-builder_content-item .section-titles
        padding-left: 20px

    .map-item::before
        width: 100%

    .tow_truck-wrapper
        padding-left: 20px
        padding-right: 20px

    .main-menu ul li
        margin-right: 15px

    .main-menu ul li a
        font-size: 12px
        
    .header-contact-logo
        display: none

    body.about .about_main-content h1
        font-size: 25px
    body.about .about_main-content h1 span
        font-size: 25px
    body.about
        .service-book__mobile
            svg
                path
                    fill: #ffffff
    .warnty__saver .warnty__saver-item
        font-size: 14px

    .warnty__saver
        padding-bottom: 25px

    .warnty__saver-wrapper
        background: unset
        padding-bottom: 20px

    .warnty__saver-wrapper_guts 
        flex-direction: column
@media (max-width: 850px)
    .review-tabs
        display: grid
        grid-gap: 17px
        grid-template-columns: repeat(3, 1fr)
    .review-tabs
        flex-wrap: wrap
    .review-tabs 
        .review-tab-item
            &:nth-child(3)
                 &::after
                    width: 0
            &:nth-child(4)
                &::after
                    width: 1px

@media (max-width: 768px)
    body.about .about_main-content .about_main-content_slogan .calculator-links__content-btns
        margin-top: 19px!important
    
    body.about .about_main-content h1
        margin: 0
        line-height: 10px
    body.about .about_main-content .about_main-content_slogan p
        line-height: 20px
    .certified-auto-service
        background-position: top
    .special__offers-section-inner .special__offers-section-inner_content .header-send__application
        padding-left: 15px
        padding-right: 15px
    .special__offers-section-inner .header-send__application-content .header-send__application-content_item:first-child
        flex-basis: 100%

    .special__offers-section-content_grid.block-three
        margin-bottom: 0
    .main-blog-post
        padding-right: 0!important
    .special__offers-section-inner .special__offers-section-inner_content
        margin-bottom: 0
    .main-blog
        padding-right: 0
    .innner-aside
        padding-left: 0
        margin-bottom: 0
    .innner-aside::before
        width: 0
    .special__offers-section-inner_content
        grid-template-columns: 1fr!important
    .tow_truck-wrapper
        margin-bottom: 60px
    .popular-services__item_content
        margin-top: 0
    .certified-auto-service__content-info_imgs
        width: 100%
    .review-tabs
        grid-gap: 30px
        grid-template-columns: repeat(3,1fr)
    .review-owl-slider .owl-nav button
        background-color: #bb261a!important
        color: #ffffff!important
    .review-owl-slider .owl-nav .owl-prev
        left: 0
    .review-owl-slider .owl-nav .owl-next
        right: 0 
    .review-owl-slider .owl-nav
        top: 94%
    .team-slider-item
        padding-left: 0
    .certified-auto-service
        padding-top: 55px
    .certified-auto-service__content
        flex-direction: column
    .certified-auto-service__content-info_list
        padding-left: 15px
    .popular-services__item
        height: 290px
        padding-top: 25px
        justify-content: center
        padding-left: 0
        align-items: end
        background-image: none!important
        padding-bottom: 33px
        .popular-services__item_content
            display: flex
            flex-direction: column
            align-items: center
            img
                display: block
                margin-bottom: 20px

    .popular-services__item
        &:nth-child(1)
            .popular-services__item_content
                img
                    width: auto
                    height: 120px
        &:nth-child(2)
            .popular-services__item_content
                img
                    width: auto
                    height: 120px
        &:nth-child(3)
            .popular-services__item_content
                img
                    width: auto
                    height: 120px
        &:nth-child(4)
            .popular-services__item_content
                img
                    width: auto
                    height: 120px

          

    .popular-services__section
        margin-top: 55px

    .popular-services__item_content h3
        text-align: center

    body.about .about_main-content h1
        font-size: 18px
    body.about .about_main-content h1 span
        font-size: 18px
    body.about .about_main-content .about_main-content_slogan p
        font-size: 12px
    .warnty__saver .warnty__saver-item
        font-size: 13px
    body.about .header-info
        top: 39px!important
    .mobile-menu
        display: block
        position: fixed
        z-index: 9999999
        top: 0
        background: #F4F4F4
        width: 86%
        left: -900px
        right: 0
        padding-top: 48px
        padding-bottom: 48px
        padding-left: 19px
        padding-right: 19px
        transition: all .5s ease
        min-height: 100vh
        display: flex
        flex-direction: column
        justify-content: space-between
        &.active
            left: 0
        ul
            padding: 0
            list-style-type: none
            margin: 0
            li
                margin-bottom: 24px
                &:last-child
                    margin-bottom: 0
                a
                    text-decoration: none
                    color: #000000
                    font-size: 14px
                    font-style: normal
                    font-weight: 600
                    line-height: 23px
                    letter-spacing: 0.02em
                    text-align: left
        .mobile-menu__extra
            text-align: center
            min-height: 50px
            figure
                margin-bottom: 25px
                img
                    width: 130px
                    height: auto
        .mobile-menu-closer
            position: absolute
            background: #F4F4F4
            line-height: 35px
            text-align: center
            width: 38px
            height: 38px
            top: 0
            right: -38px
            cursor: pointer
    .staff
        grid-template-columns: 1fr
    .server-book__table-wrapper
        width: 700px
        overflow: auto  
    .server-book__table
        margin-top: 16px
        width: 720px
        overflow: hidden 
    .body-repair__forms
        width: 320px

    .select__fixt-type-title
        text-align: center

    .mileage-value-title
        text-align: center
    .container-fluid
        padding-right: 0
        padding-left: 0
    .select__fixing-type_guts
        padding-bottom: 200px
    .select__fixt-type
        text-align: center
    .select__fixt-type-title
        display: inline
        background-position-x: 0
    .mileage-value-title
        display: inline
        background-position-x: 0
    .model-presentation
        margin-bottom: 25px

    .header-info__item .phone-contact
        padding-left: 30px

    .header-info__item-content .phone-number__content
        font-size: 12px

    .stepper-content__item-title
        font-size: 11px!important
        width: 101px
        white-space: nowrap
        overflow: hidden

    .stepper-content__item-subtitle
        font-size: 11px!important
        width: 101px
        white-space: nowrap
        overflow: hidden

    .header-info__content
        padding-left: 28px

    .inner-mileage-slider
        max-width: 580px

    body
        background-image: none!important

    .wrapper-inner
        overflow: inherit
    
    .service-book
        display: none!important
        
    .cart
        margin-right: 19px

    .selection-block__item-content .toyota
        width: 178px
        height: 114.55px

    .selection-block__item-content .lexsus
        width: 186px
        height: 116px

    .wrapper-inner
        grid-template-columns: 0

    .aside
        display: none!important

    .header-wrapper
        padding-left: 0!important 

    .model-catalog__content-grid
        grid-template-columns: repeat(3, 1fr )

    .choose-modele-title
        display: none

    .model-presentation::before
        width: 0

    .select__fixing-type_guts
        flex-direction: column

    .model-presentation
        margin: 0 auto

    .select__fixt-type
        max-width: 420px
        margin: 0 auto

    .select__fixt-type-title
        margin-top: 22px

    .mileage-value #mileage-input
        width: 100%

    .mileage-drop__list
        width: 100%

    .wrapper-inner.inner-pages
        grid-template-columns: max-content

    .calcultor-form__wrapper .to-calcultor-form .detailing-repair__tabs-container
        padding-right: 0

    .calcultor-form__item-header
        max-width: 100%

    .wrapper-inner
        padding-right: 15px
        padding-left: 15px

    .inner-mileage-slider .owl-nav .owl-prev
        left: -12px

    .inner-mileage-slider .owl-nav .owl-next
        right: -12px

    .stepper-mobile__guts
        margin-top: 25px

    .price-compare__guts li h4
        font-size: 14px
    .mobile-rem-chooser
        display: grid
        grid-template-columns: repeat(4, 1fr)
    .mobile-rem-chooser .mobile-rem-chooser_item
        margin: 0
    .sidebar-for-mobile
        position: fixed
        bottom: 0
        width: 100%
        left: 0
        right: 0
    .mobile-rem-chooser .mobile-rem-chooser_item a
        font-size: 12px
    .sidebar-for-mobile__header .sidebar-for-mobile__total-wrapp
        font-size: 15px
    .sidebar-for-mobile__header h3 span
        font-size: 15px
    .header-info__item-content .phone-number__content
        font-size: 15px
    .header-info__item-content .phone-number__title
        font-size: 12px
    .inner-mileage-slider li .mileage-value
        font-size: 14px
    .inner-mileage-slider li .price-value
        font-size: 14px
    .price-compare__guts li .price-compare-average span
        font-size: 14px
    .price-compare__guts li .price-compare-official span
        font-size: 14px
    .price-compare__guts li .price-compare-tolex span
        font-size: 14px
    .order-section
        padding-top: 33px
        padding-left: 35px
    .order-section .order-section__content-header h2
        margin-bottom: 5px
    .calcultor-form__wrapper .to-calcultor-form .calcultor-form__item:last-child
        margin-bottom: 50px

    .order-section
        grid-template-columns: 295px 1fr
    .order-section .order-section__content-header .dilers-varanty-save
        font-size: 15px
    .popular-body__repaire-content
        grid-template-columns: repeat(2, 1fr)
    .popular-body__repaire-content_item
        width: 300px
    .body-repair__forms
        flex-wrap: wrap
        justify-content: space-around

    .body-repair__grid
        grid-template-columns: 1fr
    .body-repair__item
        margin: 0 auto
    .body-repair__item:last-child
        margin: 0 auto
    .responsive-tab__wrapper
        width: 625px
    .responsive-tab__content
        width: 700px
        overflow: hidden 

    .main-description__wrapper h1
        font-size: 20px
        line-height: 24px
    .main-description h2
        font-size: 15px
        line-height: 24px
    .main-description__wrapper
        padding-right: 15px
    .header-send__application-form
        flex-wrap: wrap
    .header-send__application-content .header-send__application-content_item:first-child
        flex-basis: 90%

    .waiting-comfort
        flex-wrap: wrap
        flex-direction: column-reverse
    .waiting-comfort__info
        width: 100%
    .map-builder_content
        flex-wrap: wrap
    .map-builder_content .map-builder_content-item:first-child
        flex-basis: 100%
        padding-top: 24px
    #customize-controls li
        background-color: #bb261a
    #customize-controls li .fas
        color: #ffffff
    .map-builder_content .map-builder_content-item
        flex-basis: 100%
        height: 340px
    .responsible-politeness__content-info
        flex-basis: 100%
    .responsible-politeness__content-form
        padding-right: 15px
        padding-left: 15px
        flex-basis: 100%
    .responsible-politeness__content-form::before
        width: 0  
    .service-moscow
        padding-top: 52px
        border-top: none 
    .section-titles
        font-size: 18px
    .responsible-form-row input
        width: 100%         
    .responsible-politeness__content-info
        margin-right: 0
    .responsible-politeness-form button
        width: 290px
    .responsible-politeness-form .responsible-politeness-form-label
        width: 264px
    .footer-menu__section .footer-menu-item
        margin-right: 12px
        margin-top: 40px
    .footer-inner .footer-menu h3
        font-size: 14px
    .footer-menu__section
        display: grid
        grid-template-columns: repeat(2, 1fr )
    .wooter-inner-guts
        display: flex
        flex-direction: column-reverse
    .footer-copiright
        padding-bottom: 55px
    .footer-contact
        margin-top: 0
    .footer-contact__phone-list
        display: grid
        grid-template-columns: repeat(2,1fr)
        grid-gap: 20px
    .footer-links-toy
        margin-top: 17px
    .footer-links-lexus  
        margin-top: 17px
    .footer-copiright__content  
        flex-direction: column-reverse
    .footer-privacy    
        flex-direction: column-reverse
        align-items: center
        text-align: center
    .footer-privacy__list
        margin-right: 0
        margin-top: 21px
        margin-bottom: 17px
    .footer-copiright__text
        position: absolute
        bottom: -35px
    .footer-copiright__logo img:nth-child(1)
        margin-right: 25px
    .footer-copiright__logo img:nth-child(2)
        margin-right: 10px
    .responsible-politeness__content-info p
        font-size: 14px
    .map-builder_content
        flex-direction: column-reverse
    .map-builder_content .map-builder_content-item:first-child
        padding-bottom: 0
    .map-content .map-content-item
        height: 340px
    .map-tabs
        margin: 0
    .map-builder
        padding-top: 100px
    .map-builder-title
        position: absolute
        top: -420px
    .map-builder_content .map-builder_content-item:first-child
        padding-top: 0
    .waiting-comfort__info p
        font-size: 14px
    .social-footer
        justify-content: flex-start
    .footer-links
        margin-top: 20px
@media (max-width: 720px)

    .review-tabs
        display: grid
        grid-gap: 17px
        grid-template-columns: repeat(2, 1fr)
        width: 100%
    .review-tabs 
        .review-tab-item
            &:nth-child(2)
                 &::after
                    width: 0
            &:nth-child(3)
                 &::after
                    width: 1px
            &:nth-child(4)
                &::after
                    width: 0

    .team-slider-owl .owl-nav
        top: 25%

    .team-slider-item
        flex-direction: column

    .team-member-info
        width: 100%

    body.about .humburger
        svg
            path
                fill: #ffffff

    body.about .service-book__mobile
        svg
            path
                fill: #ffffff
    .mobile-slider
        overflow: auto

    .server-book__table-wrapper
        width: 600px
        overflow: auto  
    .server-book__table
        margin-top: 16px
        width: 620px
        overflow: hidden 
    .adds-banners
        padding-right: 0
    .popular-body__repaire-content_item
        width: 250px
    .header-info__item-content .phone-number__title
        font-size: 10px
    .mobile-logo
        width: 158px
    .stepper-mobile__menu ul li.active
        width: 100%
    .header-info
        border-bottom: none
    .top-menu
        display: none

    .header-info__item
        display: none
        &.mobile-version
            display: block
        &.phone-contact
            display: block

    .stepper
        display: none
        
    .breadcrumbs
        display: none!important

    .header-info__item-content .phone-number
        margin-right: 38px!important
        width: 130px

    .stepper-mobile__wrapper
        display: block!important
        opacity: 1!important

    .stepper-mobile
        width: 100%

    .top-menu__mobile
        display: flex!important
        align-items: center
        justify-content: space-between
        padding-top: 10px
        padding-bottom: 12px
    .body-repaire__header .body-repaire__header-list
        grid-template-columns: repeat(1, auto)
        grid-gap: 16px
    .technical-center__field-item_content label
        font-size: 12px

@media (max-width: 630px)
    .teams-content
        margin-top: 30px
    .teams-tabs
        width: 620px
    .server-book__table-wrapper
        max-width: 500px
        overflow: auto  
    .licenses-tabs
        width: 650px
    .server-book__table
        margin-top: 16px
        width: 620px
        overflow: hidden 

    .record__table-wrapper
        max-width: 587px
        overflow: auto 

    .record__table
        width: 620px
        overflow: hidden 

    .ordering-topline__data::before
        width: 0

    .ordering-topline__area
        margin-top: 17px

    .ordering-topline__data
        width: 100%
        margin-right: 0
        position: relative

@media (max-width: 570px)
    section.s2
        margin-top: -320px
    body.about .about_main-content
        margin-top: 130px
    body.about .header-info
        top: 50px!important
    .footer-links .footer-links-toy
        width: 100%
    .footer-links .footer-links-lexus
        width: 100%
    .special__offers-section-inner .header-send__application-form button
        width: 100%
    .special__offers-section-content_grid.block-two
        grid-template-columns:  1fr
    .footer-copiright
        border: none
    .licenses-tabs__overflow
        height: 92px
    .teams-tabs__overflow
        height: 85px
    .responsible-politeness
        height: auto
        padding-top: 240px
        margin-top: 0
        margin-bottom: 0
        background-size: 255px
        background-image: url(../img/resposibility.png)
    .tow_truck
        width: 100%
    .responsible-politeness-form button
        width: 100%
    .waiting-comfort__info
        padding-left: 15px
        padding-right: 15px
    .waiting-comfort__info .more-buns li
        font-size: 14px
    .waiting-comfort .tns-ovh
        height: 360px
        #tns1
            height: 360px
    .review-tabs
        grid-template-columns: repeat(2,1fr)
    .review-slider__item
        width: 100% 
    .licenses-content
        margin-top: 40px
    .licenses-content-item_grid
        grid-gap: 20px
        justify-content: center
        img
            margin-right: 0
    .calculator-links__content
        margin-bottom: 25px
    .diagnostic-gift
        height: 440px
    .about-order__form
        width: 100%
    .about-order__form-wrapper
        padding-left: 15px
        padding-right: 15px
    .team-slider-owl .owl-nav button
        background-color: #bb261a!important
        color: #ffffff!important
    .team-location-form button
        width: 100%
    .team-slider-owl .owl-nav .owl-next
        right: 20px
    .team-slider-owl .owl-nav .owl-prev
        left: 20px
    .team-location-form input
        width: 100%
    .team-member-photo
        width: 100%

    .team-slider-item .team-member-photo img
        width: 100%
        height: auto
        object-fit: cover

    .certified-auto-service__content-info_list
        padding-bottom: 15px
        padding-top: 80px

    .certified-auto-service__content-info_imgs img
        width: 100%
        height: 114px
        object-fit: cover

    .certified-auto-service__content-info_list li
        margin-bottom: 23px

    .certified-auto-service__content-info_list li h3
        font-size: 30px

    .special__offers-section-content_grid h3 a
        font-size: 16px
        line-height: 26px

    .header-send__application-text
        padding-bottom: 20px

    .header-send__application-form input
        width: 100%

    .header-send__application-form .header-send-politeness-form-label
        width: 100%

    body.about .about_main-content h1
        width: 100%
        line-height: 30px

    body.about .about_main-content
        width: 100%

    .calculator-links__content-btns
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center

    .warnty__saver .warnty__saver-item
        margin-right: 0

    .calculator-links__content-btns a:first-child
        margin-bottom: 19px

    .warnty__saver
        flex-direction: column
        justify-content: center
        align-items: left

    .calculator-links__content-btns a:first-child
        margin-right: 0
    .tow_truck
        width: 270px
    .map-item .build-direction
        position: relative
        top: 0
        right: -15px
        display: block
    .service-moscow
        padding-top: 0

    .server-book__table-wrapper
        max-width: 400px
        overflow: auto  
        
    .server-book__table
        margin-top: 16px
        width: 620px
        overflow: hidden

    .record__table
        width: 500px
        overflow: hidden 

    .adds-banners__guts .banner-grid
        grid-template-columns: 1fr

    .profile-info-form-guts
        flex-wrap: wrap

    .car-details__wrapper
        width: 100%
    .car-details-form__inputs
        display: grid
        grid-template-columns: 1fr
    .car-details-form__input input
        width: 100%
    .car-details-form__input
        margin: 0
    .profile-info-form-wrapper
        margin: 0
        margin-top: 10px
        width: 100%
    .profile-info-form .profile-info-form__item input
        width: 100%
    .car-details .model-and-equipment h3
        font-size: 12px

    .car-details .model-and-equipment p
        font-size: 10px

    /*** Total Invoice ***/

    .client-order__guts
        position: relative
        padding-top: 80px
        padding-right: 20px
        padding-bottom: 25px
        margin-top: 60px
    .client-order__guts-item__images-logo
        display: none
    .client-order__guts-item__images-car img
        width: 160px
    .client-order__guts-item__images-car
        position: absolute
        top: -55px
        left: 50%
        transform: translate(-50%)
    .client-order__guts
        grid-template-columns: 1fr
        max-width: 360px

    .technical-center__fields
        grid-template-columns: 1fr
        grid-gap: 5px

    /*** Total invoice END ***/

    .body-repaire__header .body-repaire__header-info
        text-align: center

    .total-sale-wrapper
        display: block
        opacity: 0
        visibility: hidden
        transition: all .5s ease
    &.active
        opacity: 1
        visibility: visible

    .header-info__item-content .phone-number__content
        font-size: 15px
    .header-info__item-content .phone-number__title
        font-size: 10px
    .price-compare__guts li h4
        font-size: 12px
    .price-compare__guts li .price-compare-average span
        font-size: 12px
    .price-compare__guts li .price-compare-official span
        font-size: 12px
    .price-compare__guts li .price-compare-tolex span
        font-size: 12px

    .mobile-logo
        width: 158px

    
    .container-fluid
        padding-right: 5px
        padding-left: 5px

    .main-title h1
        font-size: 18px
        margin-bottom: 50px

    .main-title h1 span
        font-size: 18px

    .selection-block__item.toyota::before
        content: ""
        position: absolute
        height: 0
        top: 27px
        width: 0

    .selection-block__item-content .toyota
        width: 118px
        height: 76px 

    .selection-block__item-content .lexsus
        width: 149px
        height: 92px
        margin-top: -200px

    .selection-block
        grid-template-columns: 1fr

    .model-catalog__content-grid li
        margin-bottom: 30px!important

    .model-catalog__content-grid li h3
        text-align: center

    .model-catalog__content-img
        background-position: center!important

    .model-catalog__content-grid
        grid-template-columns: repeat(2, 1fr ) 

    .stepper-mobile__menu ul li.active
        width: 100%
    .type-selector li
        width: 125px
        height: 72px
    .type-selector__item-guts-title
        font-size: 11px
    .type-selector li.active::before
        left: 19%
    .model-photo__wrapp
        width: 118px
        margin: 0 auto
    .model-photo__wrapp::before
        width: 85px
        height: 85px
    .select__fixing-type
        margin-top: 23px
    .model-presentation h2
        font-size: 16px
    .select__fixt-type-title
        font-size: 16px
    .mileage-value-title
        font-size: 16px

    .inner-mileage-slider .owl-nav .owl-prev
        left: -12px
    .inner-mileage-slider .owl-nav .owl-next
        right: -12px

    .order-section
        position: relative
        grid-template-columns: 1fr
        padding-top: 40px
        margin-top: 75px

    .order-section-imgs_logo img
        display: none
    .order-section__content-header
        margin-top: 35px
    .order-section-imgs_car
        display: inline
        position: absolute
        bottom: 265px
        left: 50%
        transform: translate(-50%)
    .calcultor-form__wrapper 
        .to-calcultor-form 
            .detailing-repair__tabs-container
                max-height: max-content

    .inner-mileage-slider
        max-width: 470px

    .order-section
        margin-top: 95px

    .tabs-content
        width: 540px
        overflow: auto
    .tab-content.active
        width: 700px
        overflow: hidden

    .detailing-repair__tabs
        flex-wrap: wrap
    .order-section-imgs_car img
        width: 181px
        height: 135px
    .order-section-imgs_car
        transform: translate(-62%)

    .price-compare__guts li h4
        margin: 0

    .order-section
        padding-right: 23px
        margin-bottom: 0
    
    .detailing-repair__tabs
        border-bottom: none

    .total-value
        padding-right: 61px

    .popular-repairs__grid-item
        width: 100%

    .order-section-imgs_car img
        display: none

    .order-section
        margin-top: 10px 

    .body-repair__order-form
        padding-bottom: 0

    .footer-contact__phone-list
        display: grid
        grid-template-columns: 1fr
        grid-gap: 20px

    .footer-inner
        padding-top: 41px

    .special__offers-section .special__offers-section-content
        padding-top: 32px

    .all-special__offers a
        margin: 0
        width: 100%
        margin-top: 30px

@media (max-width: 520px)

    .record__table-wrapper
        max-width: 487px
        overflow: auto 

    .server-book__table-wrapper
        max-width: 350px
        overflow: auto  

    .special__offers-section-content_grid
        grid-template-columns: 1fr

    .choose-service-date__wrapper .ordering-btn
        margin-left: 0

    .choose-service-date__wrapper
        flex-wrap: wrap

    .ordering-btn
        margin-top: 15px
    
    .ordering-details__fields
        flex-wrap: wrap
        .ordering-details__field:first-child
            margin-bottom: 20px
    .ordering-details__fields .ordering-details__field input
        width: 310px

    .container-fluid.mobile-slider
        overflow: auto
        max-width: 520px
    .select__fixing-type_guts
        padding-bottom: 200px
    .selected-services
        width: 100%
    .detailing-repair-btn
        width: 100%
    .general-and-separate
        width: 100%
    .detailing-repair-btn
        margin-right: 0
    .general-and-separate
        .detailing-repair-btn
            &:first-child
                margin-right: 6px
    .popular-body__repaire-content_item
        width: 142px
        margin: 0 auto
        
    .popular-body__repaire-content
        margin-left: 0

@media (max-width: 469px)
    .footer-inner__guts
        display: flex
        flex-direction: column-reverse
        
@media (max-width: 420px)
    .review-tabs .review-tab-item:nth-child(1) img
        width: 75px
        height: auto

    .review-tabs .review-tab-item:nth-child(2) img
        width: 63px
        height: auto
    .review-tabs .review-tab-item:nth-child(2)
        margin-right: 0

    .review-tabs .review-tab-item:nth-child(3) img
        width: 55px
        height: auto

    .review-tabs .review-tab-item:nth-child(4) img
        width: 105px
        height: auto
    .review-tabs .review-tab-item:nth-child(4)
        margin-right: 0

    .review-tabs .review-tab-item:nth-child(5) img
        width: 105px
        height: auto
    body.about .about_main-content .about_main-content_slogan .calculator-links__content-btns
        padding-bottom: 215px
    .model-catalog__content-grid li
        margin-bottom: 0!important

    .model-catalog__content-grid li h3
        margin-top: 0

    .inner-mileage-slider
        max-width: 420px

    .tabs-content
        width: 390px
        overflow: auto
    .detailing-repair__tabs .general-and-separate
        margin-bottom: 9px
    .detailing-repair-btn
        margin-right: 7px
    .inner-mileage-slider
        max-width: 350px
    .inner-mileage-slider li .mileage-value
        font-size: 12px
    .inner-mileage-slider li .price-value
        font-size: 12px

    .box_three
        grid-area: bxth

    .price-compare__guts
        grid-template-columns: 1fr 1fr
        grid-gap: 9px
        grid-template-areas: "bxth bxth bxth"

    .price-compare__guts li::before
        width: 0

    .price-compare__guts li .price-compare-tolex-img
        width: 43%
        height: 44px

    .price-compare
        padding-left: 13px

    .price-compare__guts li
        justify-content: left

    .price-compare__guts li:last-child h4
        font-size: 13px
        font-weight: 700
    .price-compare__guts li:last-child .price-compare-content-wrapp
        margin-left: 25px
        
    .price-compare__guts li .price-compare-tolex span
        font-size: 15px

    .price-compare__guts li .price-compare-average span
        font-size: 13px
        font-size: 500

    .price-compare__guts li .price-compare-official span
        font-size: 13px
        font-size: 500
    .client-order__guts-item .client-order__guts-item__slogan
        font-size: 12px

    .register-phone input
        width: 285px
    
@media (max-width: 375px)
    .review-tabs .review-tab-item::after
        right: -16px
    
    .review-tabs .review-tab-item
        margin-right: 35px
    .calculator-links__content-btns a
        width: 100%
    body.about .about_main-content .about_main-content_slogan .calculator-links__content-btns
        padding-bottom: 230px
    .record__table-wrapper
        max-width: 348px
        overflow: auto 
    .tabs-content
        width: 345px
    .mobile-logo
        width: 105px
    .order-section-imgs_car
        bottom: 300px
    .inner-mileage-slider
        max-width: 300px
    .ordering-details__fields .ordering-details__field input
        width: 285px
    .choose-service-date__field input
        width: 285px
    .client-order__guts
        max-width: 285px

@media (max-width: 320px)
    .review-tabs .review-tab-item::after
        right: -21px
    .review-tabs .review-tab-item
        padding-left: 30px
    .record__table-wrapper
        max-width: 290px
        overflow: auto 
    .billing-btns a
        width: 126px
    .order-section-imgs_car
        bottom: 323px
    
    .tabs-content
        width: 290px
    .order-section
        padding-left: 19px
    .order-section-imgs_car
        transform: translate(-56%)
        
    .inner-mileage-slider
        max-width: 255px
    

    