@media (max-width: 1550px)
    .type-selector li
        width: 185px
    .popular-repairs__grid-item .popular-repairs__title
        font-size: 12px
    .popular-repairs__grid-item .popular-repairs__details .popular-repairs__price
        font-size: 12px
    .popular-repairs__grid
        grid-template-columns: repeat(5, 1fr)

@media (max-width: 1440px)
    .calcultor-form__wrapper .to-calcultor-form
        grid-gap: 32px
        grid-template-columns: 1fr 1fr
    .calcultor-form__wrapper .to-calcultor-form .calcultor-form__item::before
        right: -10px
    .inner-mileage-slider
        max-width: 430px
    .grid-table-row
        grid-template-columns: 314px 1fr 1fr 1fr
    .grid-table-row.category
        grid-template-columns: 290px 1fr 1fr 1fr
    .label-item__wrapper
        max-width: 240px
    .detailing-repair__tabs
        flex-wrap: wrap
    .general-and-separate
        margin-bottom: 6px
    .stepper-content__item-wrapper
        overflow: hidden
    .stepper-content__item-title
        white-space: nowrap
    .stepper-content__item-subtitle
        white-space: nowrap


@media (max-width: 1360px)
    .inner-mileage-slider
        max-width: 430px
    .grid-table-row.category
        grid-template-columns: 270px 1fr 1fr 1fr
    .grid-table-row
        grid-template-columns: 299px 1fr 1fr 1fr
    .type-selector li a
        font-size: 14px
    .popular-repairs__grid
        grid-template-columns: repeat(4, 1fr)
    
@media (max-width: 1300px)
    .model-catalog__content-guts
        background-color: #fff
    .model-catalog__content-grid
        grid-template-columns: repeat(4,1fr)
    .type-selector li
        width: 189px
    .model-photo__wrapp::before
        width: 186px
        height: 186px
    .model-photo__wrapp
        width: 245px
        height: auto


    /*** Calculator TO ***/
    .total-value
        padding-right: 27px
    .calcultor-form__wrapper 
        .to-calcultor-form
            grid-template-columns: 1fr 1fr
            grid-gap: 54px
    .calcultor-form__item-header
        max-width: 500px
    .inner-mileage-slider li .mileage-value
        font-size: 12px
    .inner-mileage-slider li .price-value
        font-size: 12px
    .price-compare-tolex-img
        display: none
    .price-compare__guts li h4
        font-size: 11px
    .price-compare__guts li .price-compare-average span
        font-size: 12px
    .price-compare__guts li .price-compare-official span 
        font-size: 12px
    .price-compare__guts li .price-compare-tolex span
        font-size: 12px   
    .order-section-imgs_car img
        width: 196px
        height: 147px 
    .order-section-imgs_logo
        img
            width: 126px
            height: 37px
    .order-section
        grid-template-columns: 250px 1fr  
        padding-left: 15px
        padding-top: 15px
    .order-section .order-section__content-header .dilers-varanty-save
        font-size: 12px
    .order-section .order-details h3
        font-size: 19px
    .order-section .order-details h5
        font-size: 12px
    .first-time__label
        font-size: 12px
    .billing-btns a
        font-size: 10px
        width: 130px
        height: 33px
        line-height: 33px 
        svg
            width: 15px
    .billing-btns button
        width: 112px
        height: 33px
        line-height: 29px
        font-size: 11px
        svg
            width: 16px   
    .inner-mileage-slider
        max-width: 430px
    .stepper-content__item-title
        font-size: 12px
    .stepper-content__item-subtitle
        font-size: 12px
    .price-compare__guts
        grid-template-columns: 1fr 1fr 120px
    .calcultor-form__wrapper::before
        left: 48%
    .calcultor-form__item-header h2
        font-size: 19px
    .grid-table-row.category
        grid-template-columns: 270px 1fr 1fr 1fr
    .grid-table-row
        grid-template-columns: 299px 1fr 1fr 1fr
    .label-item__wrapper
        max-width: 222px
    .grid-table-cell.service-cathegory label
        font-size: 12px
    .grid-table-cell.service label
        font-size: 12px

@media (max-width: 1280px)        
    .calcultor-form__wrapper .to-calcultor-form
        grid-gap: 32px
        grid-template-columns: 1fr 1fr   


@media (max-width: 1200px)
    .model-catalog__content-grid
        grid-template-columns: repeat(3,1fr)
    .stepper-content__item-title
        font-size: 13px
    .type-selector
        grid-template-columns: repeat(2,1fr)

    .stepper-content__item-subtitle
        font-size: 11px
    .inner-mileage-slider
        max-width: 380px
    .order-section-imgs_car img
        width: 144px
        height: 109px
    .calcultor-form__wrapper .to-calcultor-form
        grid-gap: 25px
    .calcultor-form__item-header
        max-width: 475px
    .calcultor-form__item
        overflow: hidden
    .tab-content
        width: 625px
    .detailing-repair__tabs
        width: 625px

    .stepper-content__item-title
        font-size: 13px
        white-space: nowrap
    .stepper-content__item-subtitle
        white-space: nowrap

    .inner-mileage-slider
         max-width: 380px

    .service-book
        display: none!important
    .popular-repairs__grid
        grid-template-columns: repeat(3, 1fr)


@media (max-width: 1024px)
    .tab-content
        width: 100%
    .detailing-repair__tabs
        width: 100%
    .stepper-content
        padding-left: 0!important
        padding-right: 0!important
    .header-wrapper
        padding-left: 20px!important
    .service-book
        display: none!important
    .service-book__mobile
        display: inline-block!important
        margin-right: 15px
    .model-catalog__content-grid li
        margin-bottom: 0!important
    .stepper
        margin-right: 0!important
        padding-left: 0
        padding-right: 15px
    .popular-repairs__grid
        grid-template-columns: repeat(3,1fr)
        
    .calcultor-form__wrapper .to-calcultor-form
        grid-template-columns: 1fr
    .inner-mileage-slider
        max-width: 685px
    .calcultor-form__wrapper::before
        width: 0
    .price-compare-tolex-img
        display: block
    .price-compare__guts
        grid-template-columns: 1fr 1fr 1fr
    .order-section-imgs_car img
        width: 247px
        height: 185px
    .calcultor-form__item-header
        max-width: 98%
    .price-compare
        max-width: 100%
    .order-section
        max-width: 100%
        margin-bottom: 45px
    .stepper-content__item-title
        font-size: 11px
    .stepper-content__item
        padding-left: 22px
    .calcultor-form__wrapper
        margin-top: 38px
    .inner-mileage-slider .owl-nav .owl-next
        right: -17px
    .inner-mileage-slider .owl-nav .owl-prev
        left: -17px
    .order-section-imgs_logo img
        width: 164px
        height: 48px
    .grid-table-row.category
        grid-template-columns: 365px 1fr 1fr 1fr
    .grid-table-row
        grid-template-columns: 396px 1fr 1fr 1fr
    .label-item__wrapper
        max-width: 296px
    .type-selector li
        width: 217px
            
@media (max-width: 992px)  
    .popular-repairs__grid
        grid-template-columns: repeat(3, 1fr) 
    .aside
        display: none

    .wrapper-inner
        display: block

    .sidebar-for-mobile
        display: block

@media (max-width: 768px)
    .container-fluid
        padding-right: 0
        padding-left: 0

    .header-info__item .phone-contact
        padding-left: 30px

    .header-info__item-content .phone-number__content
        font-size: 12px

    .stepper-content__item-title
        font-size: 11px!important
        width: 101px
        white-space: nowrap
        overflow: hidden

    .stepper-content__item-subtitle
        font-size: 11px!important
        width: 101px
        white-space: nowrap
        overflow: hidden

    .header-info__content
        padding-left: 28px

    .inner-mileage-slider
        max-width: 580px

    body
        background-image: none!important

    .wrapper-inner
        overflow: inherit
    
    .service-book
        display: none!important
        
    .cart
        margin-right: 19px

    .selection-block__item-content .toyota
        width: 178px
        height: 114.55px

    .selection-block__item-content .lexsus
        width: 186px
        height: 116px

    .wrapper-inner
        grid-template-columns: 0

    .aside
        display: none!important

    .header-wrapper
        padding-left: 0!important 

    .model-catalog__content-grid
        grid-template-columns: repeat(3, 1fr )

    .choose-modele-title
        display: none

    .model-presentation::before
        width: 0

    .select__fixing-type_guts
        flex-direction: column

    .model-presentation
        margin: 0 auto

    .select__fixt-type
        max-width: 420px
        margin: 0 auto

    .select__fixt-type-title
        margin-top: 22px

    .mileage-value #mileage-input
        width: 100%

    .mileage-drop__list
        width: 100%

    .wrapper-inner.inner-pages
        grid-template-columns: max-content

    .calcultor-form__wrapper .to-calcultor-form .detailing-repair__tabs-container
        padding-right: 0

    .calcultor-form__item-header
        max-width: 100%

    .wrapper-inner
        padding-right: 15px
        padding-left: 15px

    .inner-mileage-slider .owl-nav .owl-prev
        left: -12px

    .inner-mileage-slider .owl-nav .owl-next
        right: -12px

    .stepper-mobile__guts
        margin-top: 25px

    .price-compare__guts li h4
        font-size: 14px
    .mobile-rem-chooser
        display: grid
        grid-template-columns: repeat(4, 1fr)
    .mobile-rem-chooser .mobile-rem-chooser_item
        margin: 0
    .sidebar-for-mobile
        position: fixed
        bottom: 0
        width: 100%
        left: 0
        right: 0
    .mobile-rem-chooser .mobile-rem-chooser_item a
        font-size: 12px
    .sidebar-for-mobile__header .sidebar-for-mobile__total-wrapp
        font-size: 15px
    .sidebar-for-mobile__header h3 span
        font-size: 15px
    .header-info__item-content .phone-number__content
        font-size: 15px
    .header-info__item-content .phone-number__title
        font-size: 12px
    .inner-mileage-slider li .mileage-value
        font-size: 14px
    .inner-mileage-slider li .price-value
        font-size: 14px
    .price-compare__guts li .price-compare-average span
        font-size: 14px
    .price-compare__guts li .price-compare-official span
        font-size: 14px
    .price-compare__guts li .price-compare-tolex span
        font-size: 14px
    .order-section
        padding-top: 33px
        padding-left: 35px
    .order-section .order-section__content-header h2
        margin-bottom: 5px
    .calcultor-form__wrapper .to-calcultor-form .calcultor-form__item:last-child
        margin-bottom: 50px

    .order-section
        grid-template-columns: 295px 1fr
    .order-section .order-section__content-header .dilers-varanty-save
        font-size: 15px
    
@media (max-width: 720px)
    .header-info__item-content .phone-number__title
        font-size: 10px
    .mobile-logo
        width: 158px
    .stepper-mobile__menu ul li.active
        width: 100%
    .header-info
        border-bottom: none
    .top-menu
        display: none

    .header-info__item
        display: none
        &.mobile-version
            display: block
        &.phone-contact
            display: block

    .stepper
        display: none
        
    .breadcrumbs
        display: none!important

    .header-info__item-content .phone-number
        margin-right: 38px!important
        width: 130px

    .stepper-mobile__wrapper
        display: block!important
        opacity: 1!important

    .stepper-mobile
        width: 100%

    .top-menu__mobile
        display: flex!important
        align-items: center
        justify-content: space-between
        padding-top: 10px
        padding-bottom: 12px


@media (max-width: 570px)

    .total-sale-wrapper
        display: block
        opacity: 0
        visibility: hidden
        transition: all .5s ease
    &.active
        opacity: 1
        visibility: visible

    .header-info__item-content .phone-number__content
        font-size: 15px
    .header-info__item-content .phone-number__title
        font-size: 10px
    .price-compare__guts li h4
        font-size: 12px
    .price-compare__guts li .price-compare-average span
        font-size: 12px
    .price-compare__guts li .price-compare-official span
        font-size: 12px
    .price-compare__guts li .price-compare-tolex span
        font-size: 12px

    .mobile-logo
        width: 158px

    
    .container-fluid
        padding-right: 5px
        padding-left: 5px

    .main-title h1
        font-size: 18px
        margin-bottom: 50px

    .main-title h1 span
        font-size: 18px

    .selection-block__item.toyota::before
        content: ""
        position: absolute
        height: 0
        top: 27px
        width: 0

    .selection-block__item-content .toyota
        width: 118px
        height: 76px 

    .selection-block__item-content .lexsus
        width: 149px
        height: 92px
        margin-top: -200px

    .selection-block
        grid-template-columns: 1fr

    .model-catalog__content-grid li
        margin-bottom: 30px!important

    .model-catalog__content-grid li h3
        text-align: center

    .model-catalog__content-img
        background-position: center!important

    .model-catalog__content-grid
        grid-template-columns: repeat(2, 1fr ) 

    .stepper-mobile__menu ul li.active
        width: 100%
    .type-selector li
        width: 149px
        height: 72px
    .type-selector__item-guts-title
        font-size: 11px
    .type-selector li.active::before
        left: 19%
    .model-photo__wrapp
        width: 118px
        margin: 0 auto
    .model-photo__wrapp::before
        width: 85px
        height: 85px
    .select__fixing-type
        margin-top: 23px
    .model-presentation h2
        font-size: 16px
    .select__fixt-type-title
        font-size: 16px
    .mileage-value-title
        font-size: 16px

    .inner-mileage-slider .owl-nav .owl-prev
        left: -12px
    .inner-mileage-slider .owl-nav .owl-next
        right: -12px

    .order-section
        position: relative
        grid-template-columns: 1fr
        padding-top: 40px
        margin-top: 75px

    .order-section-imgs_logo img
        display: none
    .order-section__content-header
        margin-top: 35px
    .order-section-imgs_car
        display: inline
        position: absolute
        bottom: 265px
        left: 50%
        transform: translate(-50%)
    .calcultor-form__wrapper 
        .to-calcultor-form 
            .detailing-repair__tabs-container
                max-height: max-content

    .inner-mileage-slider
        max-width: 470px

    .order-section
        margin-top: 95px

    .tabs-content
        width: 540px
        overflow: auto
    .tab-content.active
        width: 700px
        overflow: hidden

    .detailing-repair__tabs
        flex-wrap: wrap
    .order-section-imgs_car img
        width: 181px
        height: 135px
    .order-section-imgs_car
        transform: translate(-62%)

    .price-compare__guts li h4
        margin: 0

    .order-section
        padding-right: 23px
    
    .detailing-repair__tabs
        border-bottom: none

    .total-value
        padding-right: 61px

    .popular-repairs__grid-item
        width: 100%

@media (max-width: 420px)
    .model-catalog__content-grid li h3
        margin-top: 0

    .inner-mileage-slider
        max-width: 420px

    .container-fluid.mobile-slider
        overflow: auto
        max-width: 520px

    .tabs-content
        width: 390px
        overflow: auto
    .detailing-repair__tabs .general-and-separate
        margin-bottom: 9px
    .detailing-repair-btn
        margin-right: 7px
    .inner-mileage-slider
        max-width: 350px
    .inner-mileage-slider li .mileage-value
        font-size: 12px
    .inner-mileage-slider li .price-value
        font-size: 12px

    .box_three
        grid-area: bxth

    .price-compare__guts
        grid-template-columns: 1fr 1fr
        grid-gap: 9px
        grid-template-areas: "bxth bxth bxth"

    .price-compare__guts li::before
        width: 0

    .price-compare__guts li .price-compare-tolex-img
        width: 43%
        height: 44px

    .price-compare
        padding-left: 13px

    .price-compare__guts li
        justify-content: left

    .price-compare__guts li:last-child h4
        font-size: 13px
        font-weight: 700
    .price-compare__guts li:last-child .price-compare-content-wrapp
        margin-left: 25px
        
    .price-compare__guts li .price-compare-tolex span
        font-size: 15px

    .price-compare__guts li .price-compare-average span
        font-size: 13px
        font-size: 500

    .price-compare__guts li .price-compare-official span
        font-size: 13px
        font-size: 500

    
    

@media (max-width: 375px)
    .tabs-content
        width: 345px
    .mobile-logo
        width: 105px
    .order-section-imgs_car
        bottom: 300px
    .inner-mileage-slider
        max-width: 300px


@media (max-width: 320px)
    .order-section-imgs_car
        bottom: 323px
    
    .tabs-content
        width: 290px
    .order-section
        padding-left: 19px
    .order-section-imgs_car
        transform: translate(-56%)
        
    .inner-mileage-slider
        max-width: 255px
    

    