.main-table__content
    max-height: 475px
    margin-top: 20px
    overflow: auto
    &::-webkit-scrollbar-track
        background-color: transparent
    &::-webkit-scrollbar
        width: 8px
        background-color: #F5F5F5
    &::-webkit-scrollbar-thumb
        border-radius: 50px
        background-color: #cccccc
.main-table__content-item
    margin-top: 15px 
    &:first-child
        margin: 0
.grid-table
    display: grid
    .serv-cat
        border-bottom: 1px solid #CDCDCD
        padding-bottom: 10px
        margin-bottom: 10px
.grid-table-row
    display: grid
    grid-template-columns: 390px 1fr 1fr 1fr
    .grid-table-cell
        position: relative
        .cell-price
            font-size: 13px
            font-style: normal
            font-weight: 500
            line-height: 16px
            letter-spacing: 0em
            &.service-price
                margin-left: 11px
    &.table-header
        border-bottom: 1px solid #CDCDCD
        padding-right: 16px
        padding-left: 16px
        margin-bottom: 12px
        .grid-table-cell
            font-size: 13px
            padding-bottom: 15px
            font-style: normal
            font-weight: 500
            line-height: 16px
            letter-spacing: 0
    &.service-wrapp
        position: relative
        margin-bottom: 12px
        padding-right: 16px
        padding-left: 16px
    &.category
        grid-template-columns: 364px 1fr 1fr 1fr
        margin-left: 38px
        padding-bottom: 10px
        margin-bottom: 9px
        border-bottom: 1px dashed #CDCDCD
        &:first-child
            border-top: 1px dashed #CDCDCD
            padding-top: 10px
            margin-top: 3px
.grid-table-cell
    img
        width: 60px
    &.service
        label
            display: inline-block
            width: 330px
            position: relative
            color: #000000
            font-size: 13px
            font-style: normal
            font-weight: 500
            line-height: 16px
            letter-spacing: 0em
            padding-left: 30px
        input[type=checkbox]
            display: none
            & + label
                width: auto
                &::before
                    content: ""
                    display: block
                    position: absolute
                    width: 20px
                    height: 20px
                    -webkit-border-radius: 3px
                    border-radius: 100%
                    left: 0
                    top: 0
                    border: 1px solid #C8C8C8
            &:checked
                & + label
                    width: auto
                    color: #BB261A 
                    font-weight: 700
                    &::after
                        content: ""
                        position: absolute
                        width: 10px
                        height: 10px
                        border-radius: 100%
                        top: 5px
                        left: 5px
                        background: #BB261A 
                        background-repeat: no-repeat
                        background-position: center
    &.service-cathegory
        label
            position: relative
            color: #000000
            font-size: 13px
            font-style: normal
            font-weight: 500
            line-height: 16px
            letter-spacing: 0em
            padding-left: 30px
        input[type=radio]
            display: none
            & + label
                &::before
                    content: ""
                    display: block
                    position: absolute
                    width: 20px
                    height: 20px
                    -webkit-border-radius: 3px
                    border-radius: 100%
                    left: 0
                    top: 0
                    border: 1px solid #C8C8C8
            &:checked
                & + label
                    color: #BB261A 
                    font-weight: 700
                    &::after
                        content: ""
                        position: absolute
                        width: 10px
                        height: 10px
                        border-radius: 100%
                        top: 5px
                        left: 5px
                        background: #BB261A 
                        background-repeat: no-repeat
                        background-position: center
.carret
    position: absolute
    width: 16px
    height: 16px
    right: 0
    top: 3px
    cursor: pointer
    &::before
        content: ""
        top: 0
        left: 0
        right: 0
        bottom: 0
        position: absolute
        background-image: url(../img/chevron-down.svg)
    &.active
        &::before
          background-image: url(../img/chevron-down.svg) 
          transform: rotate(180deg) 

#onlychecked
    .carret::before
        display: none

.category-wrapp
    position: relative
    &::before
        content: ""
        position: absolute
        width: 1px
        height: 100%
        left: 26px
        background-color: #BB261A
    &.inner
        &::before
            height: 0
            width: 0
        .grid-table-row.category
            &:last-child
                border-bottom: none
                margin-bottom: 0


    &.remove
        display: none
        opacity: 0

.total-value
    font-size: 18px
    text-align: right
    font-style: normal
    font-weight: 700
    line-height: 22px
    letter-spacing: 0em
    border-bottom: 1px solid #CDCDCD
    padding-bottom: 16px
    padding-right: 70px
    
.total-price
    color: #BB261A

.info-section
    display: inline
    position: absolute
    cursor: pointer
    top: 0
    right: -18px
    &__content
        opacity: 0
        display: none
        transition: all .5s ease
        position: absolute
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5)
        border-radius: 4px
        left: 0
        width: 248px
        z-index: 999999
        background: #ffffff
        &-img
            img
                width: 100%
                border-radius: 4px
        &-description
            padding: 23px
            p
                font-size: 13px
                font-style: normal
                font-weight: 500
                line-height: 16px
                letter-spacing: 0em
                text-align: left
                margin: 0
    &:hover
        .info-section__content
            display: block
            opacity: 1

/*** Tab Content ***/  

.tab-content
    display: none
    opacity: 0
    &.active
        display: block
        opacity: 1      

/*** Step Content ***/

.sep-content__tabs
    padding: 0
    margin: 0
    margin-bottom: 15px
    list-style-type: none
    display: grid
    grid-template-columns: 1fr 1fr
    border-bottom: 1px solid #CDCDCD
    .sep-content__tab
        position: relative
        text-align: center
        font-size: 18px
        font-style: normal
        font-weight: 700
        line-height: 22px
        letter-spacing: 0em
        cursor: pointer
        padding-bottom: 16px
        &.active
            color: #BB261A
            &::before
                content: ""
                position: absolute
                width: 100%
                left: 0
                right: 0
                border-bottom: 3px solid #bb261a
                bottom: -2px
    
.sep-content-item
    display: none
    opacity: 0
    &.active
        display: block
        opacity: 1

#separated-content-parts
    margin-top: -16px
    .category-wrapp
        &::before
            width: 0
            height: 0
        .grid-table-row
            &:last-child
                border-bottom: 0
                margin-bottom: 0

.grid-table-row.active-check
    .grid-table-cell
        .cell-price
            color: #BB261A
            font-weight: 700
            svg
                path
                    fill:#BB261A
        .cell-quantity
            color: #BB261A
            font-weight: 700
                
