@import "libs"

$border: #CDCDCD

@mixin montserrat
    font-family: 'Montserrat', sans-serif

body
    @include montserrat
    color: #000000
    background-image: url(../img/main_bg.png)
    background-size: cover
    background-repeat: no-repeat
    letter-spacing: 0.5px

.wrapper
    min-height: 100vh

.container-fluid
    width: 100%
    padding-right: 29px
    padding-left: 29px
    margin-right: auto
    margin-left: auto

.containter
    max-width: 1200px
    padding-right: 29px
    padding-left: 29px
    margin-right: auto
    margin-left: auto

.main-description  
    h2
        font-size: 21px
        font-style: normal
        font-weight: 700
        line-height: 36px
        text-align: left 
    h3
        font-size: 15px
        font-weight: 700
        font-style: normal
        line-height: 26px
        letter-spacing: 0em
        text-align: left
    p
        font-size: 15px
        font-style: normal
        font-weight: 500
        line-height: 26px
        letter-spacing: 0em
        text-align: left



.header
    border-bottom: 1px solid $border

.top-menu
    display: flex
    justify-content: space-between
    padding-top: 10px
    padding-bottom: 10px

.main-menu
    ul
        padding: 0
        margin: 0
        list-style-type: none
        display: flex
        li
            margin-right: 26px
            a
                color: #000000
                text-decoration: none
                font-size: 13px
                font-style: normal
                font-weight: 700
                line-height: 16px
                letter-spacing: 0.02em

.header-info
    position: relative
    border-bottom: 1px solid $border
    &__content
        display: flex
        justify-content: space-between
        padding-top: 18px
        padding-bottom: 18px
        padding-left: 25px
    &__item
       .service-book
            display: inline-block
            margin-right: 30px
            width: 230px
            height: 40px
            line-height: 40px
            background-color: #bb261a
            font-size: 12px
            color: #ffffff
            text-decoration: none
            text-transform: uppercase
            border-radius: 49px
            font-style: normal
            font-weight: 600
            text-align: center
            span
                display: block
                padding-left: 34px
                background-image: url(../img/services_book.svg)
                background-repeat: no-repeat
                background-position-x: 16px
                background-position-y: 12px
.cart
    text-decoration: none
    margin-right: 25px
.notifications
    position: relative
    text-decoration: none
    margin-right: 30px
    &::before
        content: ""
        position: absolute
        right: -12px
        height: 40px
        width: 1px
        background-color: $border

.humburger
    background-image: url(../img/humburger.svg)
    background-size: cover
    background-repeat: no-repeat
    border: none
    background-color: transparent
    width: 26.25px
    height: 17.5px

/** contact styles **/
    
.header-info__item-content
    display: flex
    .phone-number
        margin-right: 60px
        &:last-child
            margin-right: 0
        &__title
            font-size: 11px
            color: #7b7b7b
            font-style: normal
            font-weight: 700
            line-height: 13px
            margin-bottom: 3px
        &__content
            font-size: 16px
            text-decoration: none
            color: #bb261a
            font-style: normal
            font-weight: 700
            line-height: 20px
            letter-spacing: 0em
            text-align: center
            position: relative
            &::before
                content: ""
                position: absolute
                width: 18px
                height: 18px
                background-image: url(../img/phone.svg)
                background-repeat: no-repeat
                left: -25px

.write-director
    width: 163px
    height: 25px
    padding-left: 31px
    border: 1px solid #bb261a
    border-radius: 49px
    background: transparent
    text-transform: uppercase
    font-size: 9px
    font-style: normal
    font-weight: 800
    line-height: 11px
    text-align: center
    span
        display: block
        position: relative
        &::before
            content: ""
            position: absolute
            background-image: url(../img/mail.svg)
            background-repeat: no-repeat
            background-position-x: 0
            background-size: cover
            width: 16.33px
            height: 13.67px
            left: -19px
            top: -2px

        
.main-title
    text-align: center
    h1
        @include montserrat
        text-transform: uppercase
        font-size: 30px
        font-style: normal
        font-weight: 500
        line-height: 37px
        span
            text-transform: uppercase
            font-size: 30px
            font-style: normal
            font-weight: 700
            line-height: 37px
            text-align: left

.selection-block
    display: grid
    grid-template-columns: 1fr 1fr
    height: 88vh
    &__item
        display: flex
        justify-content: center
        align-items: center
        position: relative
        &.toyota
            &::before
                content: ""
                position: absolute
                height: 85%
                top: 27px
                width: 1px
                right: 0
                background-color: $border
        &-content
            text-align: center
            display: flex
            flex-direction: column
            align-items: center
            margin-top: -131px
            .toyota
                width: 216px
                height: 139px
            .lexsus
                width: 249px
                height: 155px
            h2
                font-size: 22px
                font-style: normal
                font-weight: 700
                line-height: 27px
                margin-top: 20px

.choose-button
    width: 165px
    height: 40px
    display: inline-block
    line-height: 40px
    background-color: #bb261a
    color: #ffffff
    font-size: 12px
    font-weight: 700
    text-transform: uppercase
    text-decoration: none
    border-radius: 49px
    margin-top: 30px
    &.lex
        background-color: #000000
    &:hover
        color: #ffffff


/*** Step One ***/   

.type-icon__title
    padding-left: 31px
    display: block



.type-icon
    position: absolute
    display: inline-block
    width: 25px
    height: 25px 
    margin-right: 8px
    &.maintenance
        &::before
            content: ""
            position: absolute
            width: 25px
            height: 25px
            background-image: url(../img/types-icons/to-icon.svg)
            background-repeat: no-repeat
            background-size: cover
    &.metalwork
        &::before
            content: ""
            position: absolute
            width: 25px
            height: 25px
            background-image: url(../img/types-icons/sles-rem-icon.svg)
            background-repeat: no-repeat
            background-size: cover
    &.body-repair
        &::before
            content: ""
            position: absolute
            width: 25px
            height: 25px
            background-image: url(../img/types-icons/spray.svg)
            background-repeat: no-repeat
            background-size: cover
    &.transmission-repair
        &::before
            content: ""
            position: absolute
            width: 25px
            height: 25px
            background-image: url(../img/types-icons/akkp-icon.svg)
            background-repeat: no-repeat
            background-size: cover
    &.diagnostics
        &::before
            content: ""
            position: absolute
            width: 25px
            height: 25px
            background-image: url(../img/types-icons/analicis-icon.svg)
            background-repeat: no-repeat
            background-size: cover


.wrapper-inner
    min-height: 100vh
    display: grid
    grid-template-columns: 141px 1fr
    grid-template-areas: "g-side g-main"
    transition: all .8s ease

.header-wrapper
    grid-area: g-main
    transition: all 0.1s
    width: calc(100% + 0px)
    transform: translateX(0px)
    padding-left: 30px


.aside
    grid-area: g-side
    margin-left: 0px
    transform: translateX(-141px)
    transition: all 0.8s
    background-color:#131313
    width: 141px
    padding-top: 21px
    padding-bottom: 43px
    &.active
        transform: translateX(0px)
    &-content
        height: 100%
        display: flex
        flex-direction: column
        justify-content: space-between
        &__tabs
            position: absolute
            top: 145px
            left: 0
            right: 0
            &-main
                ul
                    padding: 0
                    margin: 0
                    list-style-type: none
                    li
                        position: relative
                        height: 67px
                        display: flex
                        align-items: center
                        &::before
                            content: ""
                            position: absolute
                            left: 50%
                            bottom: 0
                            transform: translate(-50%)
                            width: 124px
                            height: 1px
                            background-color: #555555
                        a
                            display: flex
                            align-items: center
                            margin: 0 auto
                            width: 124px
                            height: 100%
                            font-size: 13px
                            text-decoration: none
                            color: #ffffff
                            font-style: normal
                            font-weight: 500
                            line-height: 16px
                            letter-spacing: 0.02em
                            text-align: left
                        &:hover
                            background-color: #BB261A
                        &.active
                            background: #ffffff
                            a
                                color: #BB261A
                                font-weight: 700
                            &::before
                                width: 4px
                                height: 100%
                                left: 98.5%
                                background: #bb261a
                            .type-icon    
                                &.maintenance
                                    &::before
                                        background-image: url(../img/types-icons/to-icon-red.svg)   
                                &.metalwork
                                    &::before
                                        background-image: url(../img/types-icons/sles-rem-icon-red.svg) 
                                &.body-repair
                                    &::before
                                        background-image: url(../img/types-icons/spray-red.svg) 
                                &.transmission-repair
                                    &::before
                                        background-image: url(../img/types-icons/akkp-icon-red.svg) 
                                &.diagnostics
                                    &::before
                                        background-image: url(../img/types-icons/analicis-icon-red.svg)  
            &-title
                position: relative
                width: 124px
                margin: 0 auto
                padding-bottom: 33px
                border-bottom: 1px solid #555555
                &::before
                    content: ""
                    position: absolute
                    top: -13px
                    left: 50%
                    transform: translate(-50%)
                    width: 124px
                    height: 1px 
                    background: #555555
                &::after
                    content: ""
                    position: absolute
                    left: 50%
                    transform: translate(-50%)
                    background-image: url(../img/type_down.svg)
                    width: 11.19px
                    height: 5.36px
                    background-repeat: no-repeat

                h2    
                    color: #ffffff            
                    font-size: 13px
                    font-style: normal
                    font-weight: 500
                    line-height: 16px
                    letter-spacing: 0.02em
                    text-align: center

        &__header
            text-align: center
            figure
                margin-bottom: 16px
                img
                    width: 34px
            h1
                color: #ffffff
                text-transform: uppercase
                font-size: 13px
                font-style: normal
                font-weight: 700
                line-height: 16px
                letter-spacing: 0em
                text-align: center
        &__footer
            text-align: center
            figure
                img
                    width: 119px
                    max-width: 100%
            .on-map
                display: inline-block
                border: 1px solid #E11100
                border-radius: 49px
                color: #ffffff
                font-size: 11px
                font-weight: 700
                line-height: 35px
                text-transform: uppercase
                text-decoration: none
                width: 123px
                height: 35px


/*** Breadcrumbs ***/

.breadcrumbs  
    position: relative
    margin-top: 7px 
    .kama_breadcrumbs
        a
            color: #000000
            text-decoration: none
            font-size: 11px
            font-style: normal
            font-weight: 500
            line-height: 13px
            letter-spacing: 0.03em
            text-align: left
        .kb_sep
            font-size: 11px
        .kb_title
            color: #000000
            text-decoration: none
            font-size: 11px
            font-style: normal
            font-weight: 700
            line-height: 13px
            letter-spacing: 0.03em
            text-align: left

/*** Stepper ***/       

.stepper
    position: relative 
    margin-top: 46px   
    margin-right: 29px
    &-content
        padding: 0
        margin: 0
        list-style-type: none
        background: rgb(239, 239, 239)
        height: 79px
        padding-top: 7px
        padding-bottom: 7px
        padding-left: 24px
        padding-right: 24px
        border-radius: 4px
        display: grid
        grid-template-columns: repeat(5, 1fr)
        grid-gap: 6px
        &__item
            position: relative
            display: flex
            align-items: center
            padding-left: 24px
            border-radius: 4px
            cursor: pointer
            transition: all .5s ease
            a
                color: #000000
                text-decoration: none
            &.inactive
                a
                    color: #AEAEAE
            &-title
                font-size: 16px
                font-style: normal
                font-weight: 700
                line-height: 20px
                letter-spacing: 0em
                text-align: left
            &-subtitle
                color: #BB261A
                font-size: 13px
                font-style: normal
                font-weight: 700
                line-height: 16px
                letter-spacing: 0em
                text-align: left
            &::before
                content: ""
                position: absolute
                top: -23px
                background-image: url(../img/stepchecker.svg)
                background-repeat: no-repeat
                background-position: center
                width: 30px
                height: 30px
                background-color: #BB261A
                border: 3px solid #FFFFFF
                border-radius: 50px
            &.active
                background-color: #DEDEDE
                &::before
                    background-color: #000000
            &.inactive
                border: 
                &::before
                    background-image: unset
                    border: 6px solid #FFFFFF
                    background-color: #AEAEAE
            &:hover
                background-color: #DEDEDE
                

.ordering-title
    margin-top: -15px                    

.step-count
    position: absolute
    top: -43px
    color: #9E9E9E
    text-transform: uppercase
    font-size: 13px
    font-style: normal
    font-weight: 500
    letter-spacing: 0.03em

/*** Model Catalog ***/

.model-catalog
    margin-top: 27px
    &__content
        position: relative
        height: 400px
        max-height: 100% 
        &-guts
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            overflow: auto
        &-img
            height: 103px
            background-position: left
            background-repeat: no-repeat
            background-size: 75%
        h2
            font-size: 22px
            font-style: normal
            font-weight: 700
            line-height: 27px
            text-align: left
        &-grid
            display: grid
            grid-template-columns: repeat(5, 1fr)
            grid-gap: 15px
            padding: 0
            margin-top: 17px
            list-style-type: none
            li
                display: inline-flex
                flex-direction: column
                justify-content: space-between
                margin-bottom: 43px
                a
                    color: #000000
                    text-decoration: none
                figure
                    margin: 0
                h3
                    font-size: 13px
                    font-style: normal
                    font-weight: 700
                    line-height: 16px
                    letter-spacing: 0em
                    text-align: left
                    margin-top: 13px
                    margin-bottom: 0

/*** Choose Fixing Type ***/

.select__fixing-type
    position: relative
    margin-top: 37px
    &_guts
        display: flex

.model-presentation
    position: relative
    margin-right: 106px
    &::before
        content: ""
        position: absolute
        right: -50px
        height: 100%
        width: 1px
        background-color: #CDCDCD
    h2
        font-size: 18px
        font-style: normal
        font-weight: 700
        line-height: 22px
        letter-spacing: 0em
        text-align: center
        margin-bottom: 20px
.model-photo__wrapp
    width: 313.57px
    height: 234.96px
    position: relative
    img
        width: 100%
    &::before
        content: ""
        position: absolute
        left: 50%
        transform: translate(-50%)
        width: 230px
        height: 230px 
        border: 1px solid #BB261A
        border-radius: 100%
        z-index: -1

.select__fixt-type
    position: relative

.select__fixt-type-title
    font-size: 18px
    font-style: normal
    font-weight: 700
    line-height: 22px
    letter-spacing: 0em
    background-image: url(../img/repair-tool.svg)
    background-repeat: no-repeat
    padding-left: 30px
    background-position-y: 2px

.mileage-value-title
    font-size: 18px
    font-style: normal
    font-weight: 700
    line-height: 22px
    letter-spacing: 0em 
    background-image: url(../img/road.svg)
    background-repeat: no-repeat
    padding-left: 30px
    margin-bottom: 16px

.type-selector
    display: flex
    padding: 0
    list-style-type: none
    margin-top: 30px
    margin-bottom: 30px
    li
        position: relative
        display: inline-block
        width: 231px
        height: 96px
        border-radius: 4px
        text-align: center
        border: 1px solid #D2D2D2
        margin-right: 16px
        transition: all .5s ease
        &:last-child
            margin-right: 0
        a
            color: #000000
            text-decoration: none
            font-size: 16px
            font-style: normal
            font-weight: 700
            line-height: 20px
            letter-spacing: 0em 
            display: flex
            align-items: center
            justify-content: center
            width: 100%
            height: 100%
            transition: all .5s ease
        &.active
            background-color: #BB261A
            border: 1px solid #BB261A
            position: relative
            &::before
                content: ""
                position: absolute
                width: 30px 
                height: 30px
                background-color: #BB261A
                background-image: url(../img/check.svg)
                background-repeat: no-repeat
                background-position-x: 3px
                background-position-y: 3px
                border: 3px solid #ffffff
                border-radius: 100%
                top: -17px
                left: 50%
                transform: translate(-50%)

            a
                color: #ffffff
                .type-selector__item-guts
                    svg
                        path
                            fill: #ffffff
        &:hover
            background-color: #BB261A
            border: 1px solid #BB261A
            a
                color: #ffffff
                .type-selector__item-guts
                    svg
                        path
                            fill: #ffffff
.type-selector__item-guts-title
    margin-top: 3.56px  

//Select Mileage Slider

.mileage-slider
    padding: 0
    list-style-type: none  
    max-width: 830px 
    margin: 0 auto
    .owl-nav
        position: absolute
        top: 35%
        left: 0
        right: 0
        width: 100%
        .owl-prev
            position: absolute
            left: -87px
            width: 25px!important
            height: 25px!important
            background: #F0F0F0!important
            border-radius: 100%
            background-image: url(../img/left.svg)!important
            background-repeat: no-repeat!important
            background-repeat: no-repeat!important
            background-position-x: 8px!important
            background-position-y: 6px!important
            transition: all .5s ease
            &:hover
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5)
            span
                display: none
        .owl-next
            position: absolute
            right: -87px
            width: 25px!important
            height: 25px!important
            background: #F0F0F0!important
            border-radius: 100%
            background-image: url(../img/right.svg)!important
            background-repeat: no-repeat!important
            background-position-x: 8px!important
            background-position-y: 6px!important
            transition: all .5s ease
            &:hover
                box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5)
            span
                display: none
    .mileage-slider__item
        padding-top: 7px
        padding-bottom: 7px
        text-align: center
        display: flex
        flex-direction: column
        align-items: center
        border: 1px solid #D2D2D2
        border-radius: 4px
        cursor: pointer
    .owl-stage-outer
        padding-top: 10px
        padding-bottom: 10px
        padding-left: 10px
        padding-right: 10px
    .owl-item
        border-radius: 4px
        &:hover
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15)
            .mileage-slider__item
                border: none
    .mil-val
        color: #BB261A
        font-size: 15px
        font-style: normal
        font-weight: 600
        line-height: 18px
        letter-spacing: 0em
        text-align: left
    .rep-price
        color: #000000
        font-size: 15px
        font-style: normal
        font-weight: 600
        line-height: 18px
        letter-spacing: 0em
        text-align: left
/*** Choose Fixing Type END***/
     
@import "media"